.quick-input__modal .quick-input__content {
   overflow: unset;
   border:none;
   scrollbar-width: none !important;
}
.quick-input__modal{
    max-width:560px;
    overflow-y:auto;
    overflow-x: unset;
}